/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	padding: 30px;
}

.block {
	margin: 0 0 30px 0;
}

.block p{
	font-size: 18px;
	line-height: 24px;
	margin: 0px 0px 20px 0px;
}

.link{
	color: red;
}

.link:visited{
	color: green;
}

.link:hover{
	text-decoration: underline;
	color: blue;
}

.link:aktive{
	color: #fbdb65;
}

.textinput{
border: 1px solid #666;
height: 50px;
padding: 0px 15px;
font-size: 18px;
width: 300px;
margin: 0px 0px 10px 0px;
}

.textinput:focus{
box-shadow: 0px 0px 20px; color: #2eb7ed;
}

.textbutton {
	display: block;
	width: 300px;
	height: 50px;
	background-color: #666;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	margin: 0px 0px 30px 0px;
}

.textbutton:hover{
	background-color: #333;
	color: #f06;
}
.textbutton:active{
	background-color: #eee;
}

.list{}
.list li{
	font-size: 18px;
	margin: 15px
}
/*
.list li:first-child{
	text-transform: uppercase;
	color: green
}
.list li:nth-child(2){
	text-transform: uppercase;
	color: blue;
	font-weight: 800;
}
.list li:nth-child(3){
	text-transform: uppercase;
	color: #f3c;
	font-weight: 800;
}
/*