html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid #032149;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid #032149;
  padding: 10px 20px;
}

th {
  background-color: #032149;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #032149;
}

tr:nth-child(odd) td {
  background-color: #032149;
}

caption {
  padding: 10px;
}