	.hedr{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 100px;
		background-color: #003580;
	}
	.logo {
		width: 20%;
		height: 40px;
		display: flex;
    	justify-content: center;
    	align-items: center;
		/*background-image: url('./image/logo.png');
		background-size: cover;
		background-repeat: no-repeat;*/
	}
	#logo-image{
		width: 50%;
	}
	.userform{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 80%;
		height: 100px;
		color: white;
		text-align: center;
	}
	.curensi{
		width: 20%;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.lunguage{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		height: 40px;

		/*background-image: url('./image/flag.png');
		background-size: cover;
		background-repeat: no-repeat;*/
	}
	.bakkonnekhn{
		width: 20%;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		fill: currentColor;
	}
	.registeredobject{
		border: 1px solid white;
		width: 25%;
		height: 40px;
		justify-content: center;
		display: flex;
		font-size: 14px;
		line-height: 25px; 
		align-items: center;
		margin-right: 15px;

	}
	.register{
		border: 1px solid white;
		width: 20%;
		height: 30px;
		background: #fff;
		color: #003580; 
		font-weight: bold;
		padding: 5px 10px;
		font-size: 14px;
		line-height: 25px;
		align-items: center;
		margin-right: 15px;
	}
	.signin{
		border: 1px solid white;
		width: 20%;
		height: 30px;
		background: #fff;
		color: #003580; 
		font-weight: bold;
		padding: 5px 10px;
		font-size: 14px;
		line-height: 25px;
		align-items: center;
		margin-right: 15px;

	}
 	.downblok{
 		justify-content: flex-start;
 		height: fit-content;
 		flex-wrap: wrap;
 	}
 	.bui{
 		/*display: flex;*/
 		flex-direction: row;
 		justify-content: space-around;
 		width: 17%;
 		color: white;
 		/*text-align: right;*/
 		align-items: center;
 		margin-right: 8px;
 		fill: currentColor;
 	}
	.home{
		border: 1px solid white;
		height: 40px;
		display: flex;
	}
	.icon{
		display: flex;
	}
	.bk-icon{
		color: white;
	}
	.car{
		border: 1px solid white;
		height: 40px;
		display: flex;
	}
	.avia{
		border: 1px solid white;
		height: 40px;
		display: block;
		display: flex;
	}
	.attractions{
		border: 1px solid white;
		height: 40px;
		display: flex;
	}
	.taxi{
		border: 1px solid white;
		height: 40px;
		display: flex;
	}
	.coronavirus-main-funnel-banner{
		border: 1px solid gray;
	}
	.bui-alert-info{
		background-color: #fefbf0;
		display: flex;
		justify-content: center; /*распледеление флексов вдоль оси*/
	

	}
	.bui-alert-icon{
		fill: #cd8900;
		margin-right: 16px;
		width: 24px;
		height: 24px;
		margin-top: 5px; /*отступ от верхнего края*/
	}	
	.bui-alert-description{
		border: 1px solid gray;
		margin: 5px; /*отступ края элемента*/
		padding: 5px; /*отступ от края границы до текста*/
		width: 1038px; /*ширина элемента*/
		height: 108px; /*высота элемента*/
		color: #333;
		
	}	
	.bui-alert-title{
		font-size: 16px; /*Размер шрифта*/
		font-weight: 700; /*Насыщенность шрифта*/
		line-height: 1.2; /*Расстояние между строк*/
	}
	}
	.bui-alert-text-a{
		font-weight: normal;
		text-decoration: none;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
	.bui-alert-text-b{
		font-weight: normal;
		color: #005c9d;
		font-size: 14px;
		line-height: 20px;
		text-decoration: none;

	}
	.xpi-content-wrapper{
		background: #f5f5f5;
		
	}
	.xpi-content-wrappergray{
		padding: 10px;
		width: 100%;
		height: 260px;
		border: 1px solid gray;
	}
	.xpi-searchbox{
		border: 1px solid gray;
		margin: 0px 183px;
		padding: 44px 5px;
		width: 1100px;
		height: 172px;
	}
	.sb-searchbox-titele{
		border: 1px solid gray;
		width: 1100px;
		height: 32px;
		font-size: 24px;
		line-height: 32px;
		font-weight: 600;
		color: #333;
	}	
	.sb-searchbox-subtitele-text{
		width: 1100px;
		height: 20px;
		border: 1px solid gray;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #333;
	}
	.sb-searchbox-outer{
		width: 1100px;
		height: 96px;
		border: 1px solid gray;
	}
	.xp-fieldset-accommodation{
		width: 1092;
		height: 52;
		padding: 4px;
		border: 1px solid gray;

	}

	.bodyconstraint{
		background-color: rgb(204, 255, 255);
		width: 100%;
		height: 440px;
	}
	.slinks{
		background-color: #cff;
		width: 100%;
		height: 340px;
		border: 1px solid grey;
	}
	.footer-menu-track{
		background-color: #003580;;
		width: 100%;
		height: 200px;
		border: 1px solid grey
		height: 240px;
		color: white
	}
	@media(max-width: 1001px)
	{
		.bui{
			min-width: 168px;
		}
		@media(max-width: 1001px)
	{
		.curensi
			min-width: 168px;
	}
