	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.hedr{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 100px;
		background-color: #003580;
	}
	.logo {
		width: 20%;
		height: 50px;
		display: flex;
    	justify-content: center;
    	align-items: center;
		/*background-image: url('./image/logo.png');
		background-size: cover;
		background-repeat: no-repeat;*/
	}
	#logo-image{
		width: 50%;
	}
	.userform{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 80%;
		height: 100px;
		color: white;
		text-align: center;
	}
	.curensi{
		width: 20%;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.lunguage{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20%;
		height: 40px;

		/*background-image: url('./image/flag.png');
		background-size: cover;
		background-repeat: no-repeat;*/
	}
	.bakkonnekhn{
		width: 20%;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		fill: currentColor;
	}
	.registeredobject{
		border: 1px solid white;
		width: 25%;
		height: 40px;
		justify-content: center;
		display: flex;
		font-size: 14px;
		line-height: 25px; 
		align-items: center;
		margin-right: 15px;

	}
	.register{
		border: 1px solid white;
		width: 20%;
		height: 30px;
		background: #fff;
		color: #003580; 
		font-weight: bold;
		padding: 5px 10px;
		font-size: 14px;
		line-height: 25px;
		align-items: center;
		margin-right: 15px;
	}
	.signin{
		border: 1px solid white;
		width: 20%;
		height: 30px;
		background: #fff;
		color: #003580; 
		font-weight: bold;
		padding: 5px 10px;
		font-size: 14px;
		line-height: 25px;
		align-items: center;
		margin-right: 15px;

	}
 	.hedr-downblok{
 		justify-content: flex-start;
 		height: fit-content;
 		flex-wrap: wrap;
 	}
 	.bui{
 		/*display: flex;*/
 		flex-direction: row;
 		justify-content: space-around;
 		width: 17%;
 		color: white;
 		/*text-align: right;*/
 		align-items: center;
 		margin-right: 6px;
 		fill: currentColor;
 	}
	.home{
		border: 1px solid white;
		height: 40px;
		display: flex;
	}
	.icon{
		display: flex;
	}
	.bk-icon{
		color: white;
	}
	.car{
		border: 1px solid white;
		height: 40px;
		display: flex;
	}
	.avia{
		border: 1px solid white;
		height: 40px;
		display: block;
		display: flex;
	}
	.attractions{
		border: 1px solid white;
		height: 40px;
		display: flex;
	}
	.taxi{
		border: 1px solid white;
		height: 40px;
		display: flex;
	}
	.coronavirus-main-funnel-banner{
		display: flex;
	    flex-direction: row;
	    justify-content: center;
	    width: 1110px;
	    /* padding: 16px; */
	    /* margin: 0 20%; */
	    background-color: #fefbf0;
		
	}
	.bui-alert-info{
		background-color: #fefbf0;
		display: flex;
		justify-content: center; /*распледеление флексов вдоль оси*/
		
	

	}
	.bui-alert-icon{
		fill: #cd8900;
		margin-right: 16px;
		width: 24px;
		height: 24px;
		margin-top: 5px; /*отступ от верхнего края*/
	}	
	.bui-alert-description{
		
		margin: 5px; /*отступ края элемента*/
		padding: 5px; /*отступ от края границы до текста*/
		width: 1038px; /*ширина элемента*/
		height: 108px; /*высота элемента*/
		color: #333;
		
	}	
	.bui-alert-title{
		font-size: 16px; /*Размер шрифта*/
		font-weight: 700; /*Насыщенность шрифта*/
		line-height: 1.2; /*Расстояние между строк*/
	}
	}
	.bui-alert-text-a{
		font-weight: normal;
		text-decoration: none;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
	.bui-alert-text-b{
		font-weight: normal;
		color: #005c9d;
		font-size: 14px;
		line-height: 20px;
		/*text-decoration: none;*/
	}
	.covidrules{
		text-decoration: none;
	}
	.covidrules:hover{
		text-decoration: underline;
	}
	/*.bui-alert-text-b a{
		text-decoration: none;
	}
	.bui-alert-text-b a:hover{
		text-decoration: underline;
	}*/
	.xpi-content-wrapper{
		background: #f5f5f5;
	    width: 100%;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	}
	.xpi-content-wrappergray{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 10px;
		width: 1110px;
		height: 260px;
	
	}
	.xpi-searchbox{
		/*margin: 0px 183px;
		padding: 20px 5px;*/ /*когда используем флексы, марджины и пэддинги не используются для выравнивания на странице*/
		width: 1100px;
		height: 190px;
		border: 1px solid #000;
	}
	.sb-searchbox-titele{
		width: 1100px;
		height: 25px;
		font-size: 28px;
		font-weight: 600;
		color: #333;

	}	
	.sb-searchbox-subtitele-text{
		width: 1100px;
		height: 20px;
		font-size: 14px;
		font-weight: 400;
		color: #333;
	}
	.sb-searchbox-outer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 1100px;
		height: 96px;
	
	}
	.bui-checkbox-xp-travel-purpose {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.serarch-form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.search{
		display: flex;
		flex-direction: row;

	}
	.inputconteyner{
		border: 1px solid red;
		padding: 4px;
		background-color: #febb02;
		margin: 24px 0 16px 0;
		width: 25%;
	}
	input{
		border: 1px solid green;

	}
	#searchfield, #checkinfield, #checkoutfield, #submitfield {
	    width: 100%;
	}
	#searchfield{
		/*width: 356px;*/
		height: 52px;
	}
	#checkinfield{
		/*width: 192.800px;*/
		height: 52px;
		/*padding: 0 4px;*/
	} 
	#checkoutfield{
		/*width: 227.600px;*/
		height: 52px;
		/*padding: 0 40px 0 46px;*/

	}
	#submitfield{
		/*width: 153.600px;*/
		height: 42px;
		/*padding: 5px 32px;*/
	}
	.travel-purpose-checkbox{
	}
	.bodyconstraint{
		border: 1px solid #000;
		background-color: rgb(204, 255, 255);
		width: 1460px;
		height: 1814px;
		padding: 35px 0 3px 0;
	}
	.bodyconstraint-inner{
		border: 1px solid #000;
		background-color: #fff;
		margin: 0 183px 0 183px;
		width: 1110px;
		height: 1800px;
		padding: 10px 0 0 0;

	}
	.slinks{
		background-color: #ddbdff;
		width: 100%;
		height: 340px;
		border: 1px solid grey;
	}
	.footer-menu-track{
		background-color: #003580;;
		width: 100%;
		height: 200px;
		border: 1px solid grey
		height: 240px;
		color: white
	}
	/*@media(max-width: 1001px)
	{
		.bui{
			min-width: 168px;
		}
		@media(max-width: 1001px)
	{
		.curensi
			min-width: 168px;
	}*/
	@media(min-width: 1800px){
		.registeredobject {
			font-size: 1vw;
		}
	}
