
/**{
	box-sizing: border-box;
}*/
body{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Bad Scriptr", sans-serif;
}	
/*@media(min-width: 769px){*/
	.slider{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
/*}*/

.item{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 25%;
	background-color: #aeaeae;
	transition: all 0.2s;
}
.item:hover {
	flex-basis: 100%;
}
span{
	font-size: 2rem;
	text-shadow: 0px 0pc 10px #000;
}
.item-1{
	background: url(../img/1.jpeg) no-repeat center center;
	background-size: cover;
}
.item-2{
	background: url(../img/2.jpeg) no-repeat center center;
	background-size: cover;
}
.item-3{
	background: url(../img/3.jpeg) no-repeat center center;
	background-size: cover;
}
.item-4{
	background: url(../img/4.jpeg) no-repeat center center;
	background-size: cover;
}
@media (orientation: portrait) {
	.slider {
		height: 100vh;
		background-color: black;
		flex-direction: column;
	}
	.item{
		width: 100%;		
	}
	.item:hover {
		flex-grow: 30%;
	}
}